@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
	ViewData["Title"] = "Vendors";
}

<div class="page-content p-4">

	<h3 class="text-theme text-black">
		@localizer["ChangePasswordRequests"]
	</h3>
	<hr class="border-theme" />

	<div class="row">
		<div class="col-sm-12">
			<!-- Users List -->
			<table id="forget-pw-list" class="table table-sm w-100 table-responsive-md">
				<thead>
					<tr>
						<th>ApiTicketId</th>
						<th>@localizer["Name"]</th>
						<th>@localizer["Email"]</th>
						<th>@localizer["Status"]</th>
						<th class="doNotExport">@localizer["Action"]</th>
					</tr>
				</thead>
			</table>
			<!-- Users List End -->
		</div>
	</div>
	<!-- The Modal 1 -->
	<div class="modal fade back" data-backdrop="static" id="Password_change_model">
		<div class="modal-dialog modal-md">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">@localizer["PasswordResetForm"]</h4>
					<!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<form id="Password_change_form" method="post">
						<div class="row">
							<div class="col-md-12">
								<div class="row form_row">
									<div class="col-md-4"><label for="Email">@localizer["Email"]:</label> </div>
									<div class="col-md-8"> <input type="text" class="form-control" disabled id="email" name="Email"/></div>
								</div>
								<div class="row form_row mt-2 mb-2">
								
										<input type="hidden" id="ticketId" name="TicketId" />
										<input type="hidden" id="userId" name="UserId" />
										<input type="hidden" id="apiTicketId" name="ApiTicketId" />
										<div class="col-md-4"><label for="Password">@localizer["Password"]:</label> </div>
										<div class="col-md-8"> <input type="text" class="form-control" id="password" name="Password"></div>
									
								</div>
								<div class="form-row mt-2">
									<button type="submit" class="btn btn-primary mr-2">@localizer["Submit"]</button>
									<button type="button" class="btn btn-warning " data-dismiss="modal">@localizer["Close"]</button>
								</div>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>


</div>

@section Scripts{
<script src="~/js/PasswordRequestList.js" asp-append-version="true"></script>

}



