@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
	ViewData["Title"] = "Vendors";
}

<div class="page-content p-4">

	<h3 class="text-theme text-black">
		@localizer["Vendors"]
		<button class="btn btn-sm btn-primary border-10 create_btn float-right" id="btn-create-new" onclick="openUserForm()">@localizer["CreateNew"] <i class="fas fa-plus"></i></button>
	</h3>
	<hr class="border-theme" />

	<div class="sidebar">
		<div class="sidebar-title">
			@localizer["VendorForm"]
			<button type="button" class="close" aria-label="Close" data-dismiss="sidebar">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="sidebar-body">
			<form id="vendor-form">
				<input type="hidden" name="Id" id="txt-id" />

				<div class="form-row">
					<div class="col-sm-6 form-group">
						<label class="floating-label" for="txt-VendorName">	@localizer["VendorName"]</label>
						<input type="text" name="VendorName" id="txt-VendorName" class="form-control" />
						<div class="invalid-input-feedback">This can not be blank!</div>
					</div>

					<div class="col-sm-6 form-group">
						<label class="floating-label" for="txt-email-id">@localizer["Email"]</label>
						<input type="email" name="Email" id="txt-email-id" class="form-control" />
						<div class="invalid-input-feedback"></div>
					</div>
					<div class="col-sm-6 form-group">
						<label class="floating-label" for="txt-VendorNo">@localizer["VendorNo"]</label>
						<input type="text" name="VendorNo" id="txt-VendorNo" class="form-control" />
						<div class="invalid-input-feedback"></div>
					</div>
					<div class="col-sm-6 form-group">
						<label class="floating-label" for="txt-ResidencyStatus">@localizer["ResidencyStatus"]</label>
						<input type="text" name="ResidencyStatus" id="txt-ResidencyStatus" class="form-control" />
						<div class="invalid-input-feedback"></div>
					</div>
					<div class="col-sm-6 form-group">
						<label class="floating-label" for="txt-Poremarks">PORemarks</label>
						<input type="text" name="Poremarks" id="txt-Poremarks" class="form-control" />
						<div class="invalid-input-feedback"></div>
					</div>
					<div class="col-sm-6 form-group">
						<label class="floating-label" for="txt-Currency">@localizer["Currency"]</label>
						<input type="text" name="Currency" id="txt-Currency" class="form-control" />
						<div class="invalid-input-feedback"></div>
					</div>
					<div class="col-sm-6 form-group Pgroup">
						<label class="floating-label" for="txt-Password">@localizer["Password"]</label>
						<input type="text" name="Password" id="txt-Password" class="form-control" />
						<div class="invalid-input-feedback"></div>
					</div>

					<div class="col-sm-12">
						<button type="submit" class="btn btn-primary mr-2" id="btn-submit"> @localizer["Submit"]</button>
						<button type="button" class="btn btn-danger" id="btn-cancel" onclick="closeVendorForm()"> @localizer["Cancel"]</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<!-- Users List -->
			<table id="application-vendor-list" class="table table-sm w-100 table-responsive-md">
				<thead>
					<tr>
						<th>@localizer["Name"]</th>
						<th>@localizer["Email"]</th>
						<th>@localizer["VendorNo"]</th>
						<th>@localizer["Status"]</th>
						<th class="doNotExport">@localizer["Action"]</th>
					</tr>
				</thead>
			</table>
			<!-- Users List End -->
		</div>
	</div>
</div>
<script>
var translations = {
   update: '@localizer["update"]',
   submit: '@localizer["Submit"]'
}

// opening Create User Form Or Edit User Form
function openUserForm(id) {
    SportaForms.ResetForm(form_id);
    if (id) {
        $.get(get_url, 'id=' + id, function (response) {
            var data = response.data;
            $(txt_id).val(data.id);
            $(txt_VendorName).val(data.vendorName);
            $(txt_VendorNo).val(data.vendorNo);
            $(txt_ResidencyStatus).val(data.residencyStatus);
            $(txt_Poremarks).val(data.poRemarks);
            $(txt_Currency).val(data.currency);
            $(txt_email).val(data.email).prop('readonly', true);
            $(txt_Password).val(data.password).parent('.Pgroup').hide();      // prop('hidden', true);
            $(btn_submit).text(translations.update);
            openSidebar();
            SportaForms.InitializeFormStyle(form_id);
        });
    }
    else {
        $(txt_id).val(0);
        $(txt_Password).parent('.Pgroup').show();
        $(txt_email).prop('readonly', false);
        $(btn_submit).text(translations.submit);
        openSidebar();
        SportaForms.InitializeFormStyle(form_id);
    }

}


// Closing User Form
function closeUserForm() {
    SportaForms.ResetForm(form_id);
    $(txt_id).val(0);
    $(txt_email).prop('readonly', false);
    $(txt_Password).parent('.Pgroup').show();
    $(btn_submit).text(translations.submit);
    $(form_id).fadeOut();
    $(btn_create_new).show();
}
</script>
@section Scripts{
<script src="~/js/AddVendor.js" asp-append-version="true"></script>

}


